pandas==1.1.5
pandas-datareader==0.10.0
numpy==1.19.5
plotly==5.8.0
plotly-express==0.4.1
jedi==0.18.0
Jinja2==3.1.2
sklearn==0.0
scikit-learn==0.24.2
Flask==2.2.2
Flask-Compress==1.13
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.2
Flask-WTF==1.0.1
db-sqlite3==0.0.1
