{% extends "bootstrap/base.html" %}
<link rel="icon" type="image/x-icon" href="{{url_for('.static', filename='img/favicon.ico')}}">
{% block title %}
Login to the Resale Value App
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
{% endblock %}

{% block content %}
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('index') }}">Car Resale Value Calculator</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ url_for('register') }}">Register New User</a></li>
          <li><a href="{{ url_for('login') }}">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <center>
  <div class="container-fluid" style="padding-top: 50px;">
    <div class="row">
      <div class="col-sm-3 col-sm-offset-2 col-md-3 col-md-offset-2 center" style="background-color: #508bfc;">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <br>
  
            <h2 class="text-uppercase text-center mb-5">Sign in</h2>
  
            <form id="frmlogin" name="frmlogin" method="post" class="user">
  
              <div class="form-outline mb-4">
                <input type="email" id="useremail" name="useremail" class="form-control form-control-lg" />
                <label class="form-label" for="useremail">Email</label>
              </div>
  
              <div class="form-outline mb-4">
                <input type="password" id="userpassword" name="userpassword" class="form-control form-control-lg" />
                <label class="form-label" for="userpassword">Password</label>
              </div>
  
              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-start mb-4">
                <input class="form-check-input" type="checkbox" value="" id="remember" name="remember" />
                <label class="form-check-label" for="remember"> Remember password </label>
              </div>
              
              <p>Click remember password for successful login</p>
              <button class="btn btn-success btn-lg btn-block" id="btnlogin" name="btnlogin" type="button">Login</button>
  
              <hr class="my-4">
  
              
            </form>
  
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              <h2 id="result" name="result">{{ypred}}</h2>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div></center>
{% endblock %}
 
{% block scripts %}

    <!-- Your page content Ends Here-->

    <script src="{{url_for('.static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('.static', filename='js/bootstrap.bundle.min.js')}}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{url_for('.static', filename='js/jquery.easing.min.js')}}"></script>

    <!-- Custom scripts for all pages-->    
    <script src="https://apis.google.com/js/platform.js" async defer></script> 
    <script lang="javascript">
       
      $(function(){

        $('button#btnlogin').click(function(){
          console.log($('form#frmlogin').serialize());
          $.ajax({
            type: 'POST',
            url: '/loginuser',
            data: $('form#frmlogin').serialize(),
            success: function(msg)
                  {$('#result').empty().append(msg.result); 
                  if (msg.result=="Login Successfull")
                    window.location.href = "/dashboard";},
            error: function() {alert('Login Failed');}
          });
        }); 
      });
      
      function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
      }
    </script> 
      {% endblock %}